body {
    background-image: url('https://github.com/danielthomas129/Daniel-G-Portfolio-Beauty/blob/d70083d71f01b0bde770b4d5bdb6a8f7d6404ec8/assets/ignasi_pattern_s.png?raw=true');
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  #18A2B7; 
    font-weight: bold;

}

img {
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo {
    height: 90%;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #18A2B7;
    padding: 5px;
    margin-left: 5%;
    background-color: #18A2B7;
    font-size: 125% !important;
    text-align: center;
}

.navbar-toggler-icon {
    margin-right: 5%;
    height: 60px;
    width: 30px;
}

.main {
    padding: 10px 30px;
    background-color: #fff;
    width: 100%;
}

.container {
    font-size: 16px;
    line-height: 1.58;
    color: #555555;
    margin-top: 30px;
    margin-bottom: 80px;
    width: 100%;
}

.row {
    width: 100%;
}

.footer {
    position: fixed !important;
    bottom: 0;
    width: 100%;
    margin-top: 80px;
    height: 60px;
    line-height: 60px;
    background-color: #18A2B7;
    /*color: white;*/
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 3;
}